@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
  font-size: 62.5%;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: Instrument-Serif;
  src: url("/assets/fonts/InstrumentSerif-Regular.ttf") format("opentype");
}