.service-collapsible {
  position: relative;
  width: 1920px;
  height: 1260px;
  background-color: var(--secondarybackground-1);
}

.service-collapsible .floral-decor {
  padding-top: 66px;
  font-family: var(--heading-h4-font-family);
  font-weight: var(--heading-h4-font-weight);
  font-size: var(--heading-h4-font-size);
  line-height: var(--heading-h4-line-height);
  letter-spacing: var(--heading-h4-letter-spacing);
  color: var(--secondarycolor-1);
  text-align: center;
}

.service-collapsible .party-wedding-img {
  position: absolute;
  width: 706px;
  height: 991px;
  top: calc((203 / 1260) * 100%);
  left: calc((919 / 1920) * 100%);
}
/* main */
.service-collapsible .main {
  position: absolute;
  top: calc((257 / 1260) * 100%);
  left: calc((242 / 1920) * 100%);
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
}

.service-collapsible .wedding-img {
  max-width: 560px;
  width: 100%;
  height: 315px;
  object-fit: cover;
}

.service-collapsible .collapses {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  max-height: 544px;
  gap: 24px;
  overflow-y: scroll;
}



.service-collapsible .collapse-item{
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}

.service-collapsible .collapse-header {
  display: inline-flex;
  flex-direction: column;
  gap: 18px;
}

.service-collapsible .cross-line {
  max-width: 560px;
  height: 1px;
  object-fit: cover;
}

.service-collapsible .header-bottom{
  display: flex;
  align-items: center;
  max-width: 560px;
}

.service-collapsible .collapse-title {
  flex: 1;
  font-family: var(--heading-h6-font-family);
  font-weight: var(--heading-h6-font-weight);
  font-size: var(--heading-h6-font-size);
  letter-spacing: var(--heading-h6-letter-spacing);
  line-height: var(--heading-h6-line-height);
  color: var(--secondarycolor-1);
}

.service-collapsible .btn-collapse {
  width: 24px;
  height: 24px;
}
.service-collapsible .fi-chevron {
  width: 24px;
  height: 24px;
}
.service-collapsible .btn-collapse.down .fi-chevron{
  transform: rotateX(180deg);
}

.service-collapsible .collapse-content {
  position: relative;
  display: none;
  max-width: 499px;
  width: 100%;
  font-family: var(--body-15px-subtle-font-family);
  font-weight: var(--body-15px-subtle-font-weight);
  font-size: var(--body-15px-subtle-font-size);
  letter-spacing: var(--body-15px-subtle-letter-spacing);
  line-height: var(--body-15px-subtle-line-height);
  font-style: var(--body-15px-subtle-font-style);
  color: var(--secondarycolor-2);
}

/* collapse-item active */
.collapse-item.active .collapse-content {
  display: block;
}

/* Responsive */

@media screen and (max-width: 1919px) {
  .service-collapsible {
    position: fixed;
    inset: 0;
    overflow-y: scroll;
    width: auto;
    height: auto;
    max-width: 1920px;
    max-height: 1260px;
  }
}
@media screen and (max-width: 1650px) {
  .service-collapsible .party-wedding-img {
    position: unset;
    display: block;
    margin: 76px auto;
    max-width: 560px;
    width: 100%;
    height: auto;
    padding: 0 10px;
    object-fit: cover;

  }

  .service-collapsible .main {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 60px;
  }
  .service-collapsible .collapses {
    /* overflow: auto; */
    /* height: auto; */
    max-height: none;
    overflow: unset;
    padding: 0 10px;
  }
  .service-collapsible .wedding-img {
    padding: 0 10px;
  }
}

@media screen and (max-width: 560px) {
  .service-collapsible .main{
    width: 100%;
  }
}