:root {
  --secondarybackground-1: rgba(255, 249, 245, 1);
  --secondarycolor-1: rgba(70, 43, 32, 1);
  --secondarycolor-2: rgba(66, 41, 31, 0.85);
  --heading-h4-font-family: "Instrument Serif", Helvetica;
  --heading-h4-font-weight: 400;
  --heading-h4-font-size: 5.8rem;
  --heading-h4-letter-spacing: -0.058rem;
  --heading-h4-line-height: 6.1rem;
  --heading-h6-font-family: "Instrument Serif", Helvetica;
  --heading-h6-font-weight: 400;
  --heading-h6-font-size: 2.6rem;
  --heading-h6-letter-spacing: 0px;
  --heading-h6-line-height: 2.8rem;
  --body-15px-subtle-font-family: "Inter", Helvetica;
  --body-15px-subtle-font-weight: 400;
  --body-15px-subtle-font-size: 1.5rem;
  --body-15px-subtle-letter-spacing: 0px;
  --body-15px-subtle-line-height: 2.3rem;
}
